body {
  font-family: "Inter", sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  overflow-x: hidden;
  font-size: 19px;
  color: #333333;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #d3eae4;
}

.header__navigation {
  width: 980px;
  padding: 20px 0 20px 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header-logo {
  width: 55px;
  height: 40px;
  margin: 0 45px 0 0;
  padding: 0;
}

.header__menu-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.menu-navigation__item {
  margin: 0 15px 0 0;
  padding: 0;
}

.menu-navigation__item:last-child {
  margin-right: 0;
}

.menu-navigation__item--opportunity {
  margin: 0;
  padding: 0 20px 0 0;
}

.menu-navigation__item-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #181818;
}

.header__user-navigation {
  margin: 0 0 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.user-navigation__item-login {
  margin: 0;
  padding: 0 0 0 20px;
}

.user-navigation__login-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #181818;
}

.user-navigation__item-singin {
  margin: 0 0 0 20px;
  padding: 0;
}

.user-navigation__sing-link {
  margin: 0;
  text-decoration: none;
  padding: 10px 15px;
  background-color: #181818;
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
  border-radius: 8px;
  text-align: center;
}

.main {
  width: 100%;
  padding: 0;
  margin: 0;
}

.main__main-header {
  width: 100%;
  padding: 0;
  margin: 0 0 120px 0;
  background-color: #d3eae4;
}

.main-header__container {
  max-width: 1500px;
  padding: 50px 10px 400px 10px;
  margin: 0 auto 90px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(../img/vis-header.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;
}

.main-header__headline {
  width: 900px;
  padding: 0;
  margin: 0 0 50px 0;
  text-align: center;
  font-size: 72px;
  font-weight: 600;
  line-height: 1.1;
  color: #181818;
}

.main-header__messengeres-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 280px;
  margin: 0 0 50px 0;
}

.main-header__messengeres-container span {
  position: absolute;
  top: 30px;
  left: -25px;
  font-size: 14px;
  opacity: 0.5;
  color: #252f3f;
}

.messengeres-container__list {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
}

.messengeres-container__list-item1 {
  padding: 0;
  margin: 0 15px 0 0;
  width: 65px;
  height: 65px;
  background-image: url(../img/mess-1.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.messengeres-container__list-item2 {
  padding: 0;
  margin: 0 15px 0 0;
  width: 65px;
  height: 65px;
  background-image: url(../img/mess-2.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.messengeres-container__list-item3 {
  padding: 0;
  margin: 0;
  width: 65px;
  height: 65px;
  background-image: url(../img/mess-3.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.main-header__try-button {
  text-decoration: none;
  padding: 15px 20px;
  background-color: #181818;
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  border-radius: 8px;
  text-align: center;
}

.advantage__headline {
  padding: 0;
  margin: 0 0 15px 0;
  font-size: 54px;
  color: #181818;
  font-weight: 500;
  line-height: 1.1;
}

.main__advantages {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantage-1 {
  padding: 0;
  margin: 0 0 120px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantage-1__text-container {
  width: 980px;
  padding: 0;
  margin: 0 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.advantage-1__text {
  padding: 0;
  margin: 0 0 15px 0;
  width: 825px;
  line-height: 1.5;
}

.advantage-1__img-container {
  width: 100%;
  min-height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-image: linear-gradient(302deg, #eaf5f6 94%, #e2eaff 29%, #e2eaff 29%);
}

.advantage-1__img {
  width: 980px;
}

.advantage-2 {
  padding: 0;
  margin: 0 0 120px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantage-2__text-container {
  width: 980px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.advantage-2__text {
  padding: 0;
  margin: 0 0 15px 0;
  width: 825px;
  line-height: 1.5;
}

.advantage-2__service-list {
  width: 980px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 1.5;
  color: #181818;
}

.advantage-2__service-item {
  width: 160px;
  height: 185px;
  box-sizing: border-box;
  padding: 35px 0 0 0;
  margin: 0 45px 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.advantage-2__service-item span {
  min-height: 50px;
  text-align: center;
  vertical-align: top;
}

.advantage-2__service-item:nth-child(5n) {
  margin-right: 0;
}

.advantage-2__service-item1 {
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-size: 90px 90px;
  background-position: center 35px;
}

.advantage-2__service-item2 {
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-size: 90px 90px;
  background-position: center 35px;
}

.advantage-2__service-item3 {
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-size: 90px 90px;
  background-position: center 35px;
}

.advantage-2__service-item4 {
  background-image: url(../img/icon-4.svg);
  background-repeat: no-repeat;
  background-size: 90px 90px;
  background-position: center 35px;
}

.advantage-2__service-item5 {
  background-image: url(../img/icon-5.svg);
  background-repeat: no-repeat;
  background-size: 90px 90px;
  background-position: center 35px;
}

.advantage-2__service-item6 {
  background-image: url(../img/icon-6.svg);
  background-repeat: no-repeat;
  background-size: 90px 90px;
  background-position: center 35px;
}

.advantage-2__service-item7 {
  background-image: url(../img/icon-7.svg);
  background-repeat: no-repeat;
  background-size: 90px 90px;
  background-position: center 35px;
}

.advantage-2__service-item8 {
  background-image: url(../img/icon-8.svg);
  background-repeat: no-repeat;
  background-size: 90px 90px;
  background-position: center 35px;
}

.advantage-2__service-item9 {
  background-image: url(../img/icon-9.svg);
  background-repeat: no-repeat;
  background-size: 90px 90px;
  background-position: center 35px;
}

.advantage-2__service-item10 {
  background-image: url(../img/icon-10.svg);
  background-repeat: no-repeat;
  background-size: 90px 90px;
  background-position: center 35px;
}

.advantage-2__service-item11 {
  background-image: url(../img/icon-11.svg);
  background-repeat: no-repeat;
  background-size: 90px 90px;
  background-position: center 35px;
}

.advantage-2__service-item12 {
  background-image: url(../img/icon-12.svg);
  background-repeat: no-repeat;
  background-size: 90px 90px;
  background-position: center 35px;
}

.advantage-2__service-item13 {
  background-image: url(../img/icon-13.svg);
  background-repeat: no-repeat;
  background-size: 90px 90px;
  background-position: center 35px;
}

.advantage-2__service-button {
  min-width: 170px;
  height: 185px;
  box-sizing: border-box;
  padding: 35px 0 0 0;
  margin: 0 45px 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-button__link {
  min-width: 170px;
  text-decoration: none;
  padding: 10px 15px;
  margin: auto 0;
  background-color: #181818;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  border-radius: 8px;
  text-align: center;
}

.advantage-3 {
  padding: 0;
  margin: 0 0 120px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantage-3__text-container {
  width: 980px;
  padding: 0;
  margin: 0 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.advantage-3__text-wrapper {
  width: 660px;
  line-height: 1.5;
}

.advantage-3__text {
  padding: 0;
  margin: 0 0 15px 0;
}

.advantage-3__text-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantage-3__text-item {
  padding: 0 0 5px 0;
}

.advantage-3__figure-container {
  width: 100%;
  min-height: 1090px;
  padding: 65px 0 95px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  background-image: linear-gradient(129deg, #f5dcd7 7%, #fff2e1 60%);
}

.advantage-3__figure {
  width: 980px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.advantage-3__figure-text {
  padding: 0;
  margin: 0 0 50px 0;
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
}

.figure-text__column {
  flex-basis: 290px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.figure-text__column-top {
  padding: 5px;
  margin-bottom: 30px;
  border-radius: 6px;
  background-color: #000000;
  font-size: 15px;
  color: #FFFFFF;
}

.figure-text__column-headline {
  padding: 0;
  margin: 0 0 15px 0;
  font-size: 19px;
  font-weight: bold;
  color: #333333;
}

.figure-text__column-text {
  padding: 0;
  margin: 0;
  font-size: 19px;
  color: #333333;
}

.advantage-3__img {
  width: 980px;
}

.advantage-4 {
  padding: 0;
  margin: 0 0 120px 0;
  width: 980px;
  display: flex;
  justify-content: space-between;
}

.advantage-4__text-container {
  width: 440px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.advantage-4__text {
  padding: 0;
  margin: 0 0 15px 0;
  line-height: 1.5;
}

.advantage-4__text-list {
  list-style: none;
  padding: 0;
  margin: 0 0 15px 0;
  line-height: 1.5;
}

.advantage-4__text-item {
  padding: 0 0 5px 0;
}

.advantage-4__button-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.advantage-4__button-apps {
  padding: 0;
  margin: 0 0 35px 0;
  width: 215px;
  height: 60px;
  background-image: url(../img/apple.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.advantage-4__button-gp {
  padding: 0;
  margin: 0;
  width: 215px;
  height: 60px;
  background-image: url(../img/google.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.advantage-4__img-container {
  width: 490px;
  display: flex;
  flex-direction: column;
}

.advantage-4__big-img {
  width: 490px;
  height: 605px;
  margin-bottom: 50px;
}

.advantage-4__img {
  width: 260px;
  height: 50px;
  margin-left: auto;
}

.advantage-5 {
  padding: 0;
  margin: 0 0 120px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantage-5__text-container {
  width: 980px;
  padding: 0;
  margin: 0 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.advantage-5__text-top {
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 6px;
  background-color: #000000;
  font-size: 15px;
  color: #FFFFFF;
}

.advantage-5__text {
  padding: 0;
  margin: 0 0 15px 0;
  width: 825px;
  line-height: 1.5;
}

.advantage-5__img-container {
  width: 100%;
  box-sizing: border-box;
  padding: 115px 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-color: #ebedf0;
}

.advantage-5__img {
  max-width: 1250px;
}

.advantage-6 {
  padding: 0;
  margin: 0 0 120px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantage-6__text-container {
  width: 980px;
  padding: 0;
  margin: 0 0 50px 0;
  display: flex;
  flex-direction: column;
}

.advantage-7 {
  padding: 0;
  margin: 0 0 120px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantage-7__text-container {
  width: 980px;
  padding: 0;
  margin: 0 0 50px 0;
  display: flex;
  flex-direction: column;
}

.main__feedback {
  max-width: 1500px;
  margin: 0 auto 170px auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__headline {
  padding: 0;
  margin: 0 15px 0 0;
  font-size: 48px;
  color: #181818;
  font-weight: 600;
}

.feedback__text-container {
  width: 980px;
  padding: 0;
  margin: 0 0 80px 0;
  display: flex;
  flex-direction: column;
}

.feedback__comment-container {
  width: 100%;
  height: 1230px;
  border-radius: 10px;
  background-image: linear-gradient(309deg, #f9f9f9 96%, #fceee0 11%);
}

.main__tester {
  width: 980px;
  margin: 0 auto 120px auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tester__top {
  padding: 0;
  margin: 0 auto 90px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.tester__headline {
  padding: 0;
  margin: 0 0 35px 0;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
}

.tester__text {
  width: 445px;
  padding: 0;
  margin: 0 0 40px 0;
  text-align: center;
}

.tester__try-button {
  text-decoration: none;
  padding: 15px 20px;
  background-color: #181818;
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  border-radius: 8px;
  text-align: center;
}

.footer {
  width: 100%;
  padding: 0;
  margin: 0;
}

.footer__container {
  width: 980px;
  margin: 0 auto 100px auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.footer__column-container {
  padding: 0;
  margin: 0 0 40px 0;
  display: flex;
  justify-content: space-between;
}

.footer__column-wrapper {
  display: flex;
  flex-direction: column;
}

.footer__column-headline {
  padding: 0;
  margin: 0 0 15px 0;
  font-size: 15px;
  font-weight: 600;
  color: #424244;
}

.footer__column-list {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.column-list__item {
  padding: 5px 0;
  margin: 0;
}

.column-list__link {
  text-decoration: none;
  font-size: 15px;
  color: #333333;
}

.footer__button-container {
  padding: 0;
  margin: 0 0 40px 0;
  display: flex;
  justify-content: space-around;
}

.footer__PS {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

.footer__PS span {
  font-size: 13px;
  color: #333333;
  opacity: 0.7;
  margin-right: 10px;
}

.footer__PS a {
  font-size: 13px;
  color: #333333;
  opacity: 0.7;
}

/*# sourceMappingURL=style.css.map */